table {
  width: 100%;
  margin-bottom: 30px;
}

.mat-cell {
  font-size: 16px;
  line-height: 24px;
}

.lang {
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.python {
  background-color: #8dff91;
  border-color: #8dff91;
}

.javascript, .typescript {
  background-color: #fffc34;
  border-color: #fffc34;
}

.shell {
  color: white;
  background-color: black;
  border-color: black;
}

.kotlin, .java {
  color: white;
  background-color: #f88a02;
  border-color: #f88a02;
}

.c, .cpp {
  background-color: #94caff;
  border-color: #94caff;
}

.glsl {
  background-color: lightgrey;
  border-color: lightgrey;
}
