<div id="frame">
  <h1>Ollie Chick</h1>

  <img id="watermelon" title="Hello! I'm a watermelon bitmoji!" src="https://olliechick.co.nz/images/watermelon.png" alt="Watermelon bitmoji">
  <p>
    Hi! I'm Ollie, and I'm a Software Engineering graduate.<br/>
    I attended the University of Canterbury from 2016 until 2019,
    and graduated in April 2020 with a Bachelor of Engineering with Honours specialising in Software Engineering. <br/>
    I am currently looking for a graduate job in software engineering.
  </p>

  <h2>Links</h2>

  <ul>
    <li><a href="https://github.com/olliechick">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/olliechick/">LinkedIn</a></li>
    <li><a href="https://stackoverflow.com/users/8355496/ollie">Stack Overflow</a></li>
    <li>Email: <a href="mailto:olliechick@gmail.com">olliechick@gmail.com</a></li>
    <li><a href="https://play.google.com/store/apps/developer?id=Ollie+Chick">Google Play apps</a></li>
    <li><a href="https://instagram.com/ollienickchick">Instagram</a></li>
  </ul>

  <h2>Projects</h2>

  <h3>Personal</h3>

  <table mat-table [dataSource]="personalProjects" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.link; else nolink">
          <a href={{element.link}}>{{element.name}}</a>: {{element.description}}
        </ng-container>
        <ng-template #nolink>{{element.name}}: {{element.description}}</ng-template>
      </td>
    </ng-container>

    <!-- Language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Language</th>
      <td mat-cell *matCellDef="let element">
        <div [class]="'lang ' + element.language.toLowerCase()">{{element.language}}</div>
      </td>
    </ng-container>

    <!-- GitHub Column -->
    <ng-container matColumnDef="github">
      <th mat-header-cell *matHeaderCellDef> GitHub</th>
      <td mat-cell *matCellDef="let element">
        <button mat-fab class="image github-button"></button>
        <!--        <a href={{element.github}}>-->
        <!--          <img class="github-logo-link" src="../assets/GitHub-Mark-120px-plus.png" alt="GitHub link">-->
        <!--        </a>-->
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
