<div id="frame">
  <h1>Ollie Chick</h1>

  <img id="watermelon" src="https://olliechick.co.nz/images/watermelon.png" alt="Watermelon bitmoji">
  <p>
    Hi! I'm Ollie, and I'm a Software Engineering graduate.<br/>
    I attended the University of Canterbury from 2016 until 2019,
    and graduated in April 2020 with a Bachelor of Engineering with Honours specialising in Software Engineering. <br/>
    I am currently looking for a graduate job in software engineering.
  </p>

  <h2>Links</h2>

  <ul>
    <li><a href="https://github.com/olliechick">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/olliechick/">LinkedIn</a></li>
    <li><a href="https://stackoverflow.com/users/8355496/ollie">Stack Overflow</a></li>
    <li>Email: <a href="mailto:olliechick@gmail.com">olliechick@gmail.com</a></li>
    <li><a href="https://play.google.com/store/apps/developer?id=Ollie+Chick">Google Play apps</a></li>
    <li><a href="https://instagram.com/ollienickchick">Instagram</a></li>
  </ul>

  <h2>Projects</h2>

  <p>Click on the GitHub logo to open each project's repo.</p>

  <h3>Personal</h3>
  <app-project-table [dataSource]="personalProjects"></app-project-table>

  <h3>University</h3>
  <h4>2019 (fourth year)</h4>
  <app-project-table [dataSource]="fourthYearProjects"></app-project-table>

  <h4>2018 (third year)</h4>
  <app-project-table [dataSource]="thirdYearProjects"></app-project-table>

  <h4>2017 (second year)</h4>
  <app-project-table [dataSource]="secondYearProjects"></app-project-table>

  <h3>High school</h3>
  <app-project-table [dataSource]="highSchoolProjects"></app-project-table>
</div>
