<div id="frame">
  <h1>Ollie Chick</h1>

  <img id="watermelon" src="https://olliechick.co.nz/images/watermelon.png">
  <p>
    Hi! I'm Ollie, and I'm a Software Engineering graduate
    currently working as a Junior Developer for <a href="https://partly.com" target="_blank">Partly</a>.<br/>
    I attended the University of Canterbury from 2016 until 2019,
    and graduated in April 2020 with a Bachelor of Engineering with Honours specialising in Software Engineering. <br/>
  </p>

  <h2>Links</h2>

  <ul>
    <li><a href="https://github.com/olliechick" target="_blank">GitHub</a></li>
    <li><a href="https://gitlab.com/olliechick" target="_blank">GitLab</a></li>
    <li><a href="https://www.linkedin.com/in/olliechick/" target="_blank">LinkedIn</a></li>
    <li><a href="https://stackoverflow.com/users/8355496/ollie" target="_blank">Stack Overflow</a></li>
    <li>Email: <a href="mailto:olliechick@gmail.com" target="_blank">olliechick@gmail.com</a></li>
    <li><a href="https://play.google.com/store/apps/developer?id=Ollie+Chick" target="_blank">Google Play apps</a></li>
    <li><a href="https://instagram.com/ollienickchick" target="_blank">Instagram</a></li>
  </ul>

  <h2>Projects</h2>

  <h3>Personal</h3>
  <app-project-table [dataSource]="personalProjects"></app-project-table>

  <h3>University</h3>
  <h4>2019 (fourth year)</h4>
  <app-project-table [dataSource]="fourthYearProjects"></app-project-table>

  <h4>2018 (third year)</h4>
  <app-project-table [dataSource]="thirdYearProjects"></app-project-table>

  <h4>2017 (second year)</h4>
  <app-project-table [dataSource]="secondYearProjects"></app-project-table>

  <h3>High school</h3>
  <app-project-table [dataSource]="highSchoolProjects"></app-project-table>
</div>
